@import url('https://fonts.cdnfonts.com/css/sf-sports-night');
@import url('https://fonts.cdnfonts.com/css/niramit-2');

html {
  font-family: 'SF Sports Night', sans-serif;
  letter-spacing: 3px;
  line-height: 1rem;
}
body {
  color: white;
}

.app-wrapper {
  padding: 3rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;

  h1 {
    font-size: 4rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 20vh;

  select {
    font-size: 1.1rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    width: 20%;
    outline: none;
  }
}
.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  div.chart-wrapper {
    width: 1000px;
    color: white;
    height: fit-content;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
      list-style: none;
      color: white;
      width: 5rem;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 30%);
      cursor: pointer;

      &:hover {
        background-color: rgb(159, 150, 150);
      }
    }
  }

  table {
    background-color: #b4a8a8;
    text-align: center;
    max-width: 80%;
    border-collapse: collapse;

    tr:nth-child(odd) {
      background-color: #be0404;
    }
    thead tr {
      font-weight: bold;
      td {
        background-color: rgb(205, 199, 199);
        color: rgb(32, 31, 31);
      }
    }

    td {
      height: 2rem;
      padding: 1rem;
      border: 0.5px solid rgba(0, 0, 0, 30%);
    }
  }
}
